*{
  margin: 0px;
  padding: 0px;
}

html{
  font-size: 62.5%;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c8cf;
}

.app{
  height: 100%;
  background-color: #ff484c;
}

header h2{
  background-color: #ffdd27 ;
  border: 4px solid black;
  color: #4f0f56;
}

.search{
  display: flex;
}

.checkbox-contain{
 display: flex;
 align-items: center;
}

.lbl-checkbox{
  font-size: 1.1rem;
}

#names-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  margin: 20px auto;
  border: 4px solid black;
  overscroll-behavior: contain;
  background-color: #ffeb78;
}

#names-list label{
  width: 100%;
  text-align: left;
}

#names-list label:nth-child(even){
  background-color: #fff2a5;
}

#names-list label:hover{
  background-color: #ffde23;
}

article{
  background-color: #fef7db;
    color: #4f0f56;
}

#meaning{
  font-size: 1.0rem;
  height: 105px;
  overflow: hidden;

}
.nes-field{
  display:flex;
  align-items: center;
}

#input-name{
  max-width: 200px;
  margin-left: -4px;
  background-color: #fef7db;
 
  border-image-source: none;
  border-color: black;
}

/*fix nes.css*/
.nes-container.with-title>.title{
  margin: -2.3rem 0 1rem;
}

.nes-select::after{
  content: none;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #ff484c;
  border-left: 2px solid black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fafae1;
  border-left: 2px solid black;
}

@media (min-width: 800px){
  .app{
    width: 50%;
    margin: auto;
  }
}

